.item__average{
  position: relative;
  right: 10px;
  top: 10px;
  display: block;
  border: 2px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}
.average__value{
  position: relative;
  top: 2px;
}